@charset "UTF-8";

@import "../../style/color.scss";

.switch-input {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 2.5rem;
  border: none;
  background-color: $disabled-bg-color;
  cursor: pointer;
  user-select: none;
  &:after {
    transition: left ease-in-out .1s;
  }
}

.switch-input-unchecked:after {
  content: "";
  position: absolute;
  top: .1rem;
  left: .1rem;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 2.3rem;
  background-color: #fff;
}

.switch-input-checked {
  background-color: $normal-color;
  &:after {
    content: "";
    position: absolute;
    top: .1rem;
    left: 2.6rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2.3rem;
    background-color: #fff;
  }
}
