@charset "UTF-8";

@import "color";

html {
  overflow: hidden;
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.4rem;
  background-color: $bg-color;
}

p {
  margin: 0;
}
