@charset "UTF-8";

.sidebar-view {
  width: 100%;
  height: 100%;
  > .score-area {
    line-height: 4rem;
    font-size: 3rem;
    .title-text {}
    .score-text {
      padding: 0 2rem;
      color: #9c9;
    }
  }
  > .btn-group {
    button {
      border: none;
      background-color: #eee;

    }
  }
}